{% extends "base.html.twig" %}

{% block tilte %}
	Edition de
	{{product.name}}
{% endblock %}

{% block body %}
	<h1>Editer le produit
		{{product.name}}</h1>
	{% include "product/_formproduct.html.twig" %}
{% endblock %}
